body {
    font-family: 'Georgia', serif;
}

h1 {
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 1.2;
}

.input {
    background-color: #767F89;
    color: white;
}

.half-right {
    background-color: #767F89;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.half-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn-custom {
    background-color: #767F89;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 0.8rem;
}