h1 {
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 1.2;
}
body {
    font-family: 'Georgia', serif;
}
.input {
    background-color: #767F89;
    color: white;
}
.button {
    background-color: #767F89;
}
.half-right {
    background-color: #767F89;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.half-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn-custom {
    background-color: #767F89;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 0.8rem;
}
.btn-pswd {
    background-color: white;
    color: #262626;
    width: 120px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 0.8rem;
}