h2, h3{
    color: white;
}

.hr {
    display: block;
    width: 620px;
    margin: 0 auto;
    color: white;
}

.btn-sub {
    width: 120px;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: white;
    color: #262626;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
}

.canal-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 55%; 
    margin: 0 auto 20px auto;
}

.canal-info {
    text-align: left;
}