h2, h3{
    color: white;
    margin: 15px 0;
    padding-top: 10px;
}

.post {
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    text-align: justify;
}

.hr {
    display: block;
    width: 620px;
    margin: 0 auto;
    color: white;
}

.space {
    margin-top: 350px;
}

.btn-sub {
    background-color: white;
    color: #262626;
    width: 120px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 0.8rem;
}

.canal-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 55%; 
    margin: 0 auto 20px auto;
}

.canal-info {
    text-align: left;
}